html {
    background-color: black;
}

body {
    font-family: 'Georgia', serif;
    margin-left: 13px;
}

#header {
    display: inline-block;
}

#title {
    font-size: 68px;
    font-weight: bold;
    color: rgb(255, 215, 0);
    transform: scaleY(1.6);
    transform-origin: 0 0;
    letter-spacing: 4px;
    margin-top: 30px;
    display: inline-block;
    padding-bottom: 35px;
}

#shuffle {
    margin-top: 14px;
    margin-left: 12px;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid gold;
    border-radius: 10px;
    padding: 4px 6px 0px 8px;
}