html {
    background-color: black;
}

body {
    font-family: 'Garamond', serif;
    margin-left: 50px;
}

h1 {
    font-size: 78px;
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: 0px;
    color: gold;
}